/* remove for production -- support issue */

:root {
    --primaryColor: rgba(26, 35, 126, 1) ;
    --secondaryColor: #E3F2FD;
    --darkColor: #130f30;
    --complimentaryColor: #FFA500;
    --transition: all .8s;
}


body,
html {
    height: 100vh !important;
    width: 100% !important      ;
    font-size: 16px !important;
    font-family: 'Quicksand', sans-serif !important;
} 

body {
    overflow-x: hidden !important;
}

html {
    background: #fff;
}

/*====================
    Navigation BAR
    ==================
*/
a {
    text-decoration: none !important;
    outline: none !important;
}

#menu-bar {
    transition: var(--transition);
    padding-top: 20px;
}

#menu-bar.navbar-default {
	background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}



#menu-bar.navbar-default .navbar-nav > li > a {
    margin-left: 30px; 
    padding: 0 !important;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: all .5s;
    color: var(--secondaryColor) !important;
}
#menu-bar.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid var(--secondaryColor) !important;
    border-radius: 0 !important;
    outline: none;
    color: #fff !important;
}

.on {
    background-color: var(--primaryColor) !important;
    padding-top: 20px !important
}

#menu-bar.navbar-default .navbar-nav > li > a.active {
    color: var(--complimentaryColor) !important;   
}

#menu-bar.on .nav > li > a:hover,
#menu-bar.on .nav > li > a:active {
    color: #fff !important;
}

.navbar-toggle {
	border-radius: 0;
}
    

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: var(--primaryColor);
	border-color: var(--primaryColor);
}
    

.navbar-default .navbar-toggle:hover >.icon-bar {
	background-color: #fff;
}

.navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
    color: #fff !important
}
    

/*====================
   SECTIONS
    ==================
*/

/*====================
    hOMEPAGE    
    ==================
*/

#home{
    width: 100%;  
    height: 100vh;  
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/131/511/non_2x/dotted-world-map-vector.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: var(--secondaryColor);
}

#home .overlay{
	height: 100vh;
    background-image: linear-gradient(45deg, rgba(179, 136, 255, 0.9), rgba(26, 35, 126, 0.9) 80%);
	background-attachment: fixed;
}


.content {
    position: relative;
    padding-top: 10%;
    padding-left: 8%;
    color: #fff;
}

.homepage .content h1 {
    font-size: 120px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
}

.content p {
    font-size: 1.5rem;
}

.content p,
.content button {
    margin-left: 10px
}

.content button {
    padding: 10px 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: var(--transition);
    margin-top: 40px;
}

.content button a {
    color: #fff !important;
}

.content button:first-of-type {
    margin-right: 15px;
}

.content button:hover {
    background: var(--primaryColor);
    transition: var(--transition);
}

.arrow-down {
    margin: 0 auto;
    width: 40px;
}

a.fa.fa-angle-down {
	padding: 10px 15px;
	color: #fff;
	/* border: 2px solid var(--secondaryColor); */
	border-radius: 50%;
	font-size: 24px;
    margin-top: 35px;
    outline: none;
    transition: var(--transition);
    animation: bounce 2s infinite alternate;
}
a.fa.fa-angle-down:hover{
	background: var(--primaryColor);
	color: #fff;
	border: 2px solid var(--primaryColor);
}
    /* animate */
    @keyframes bounce {
        from {
        transform: translateY(-8px);
        }
        to {
        transform: translateY(0px);
        }
    }


/*====================
    ABOUT
    ==================
*/

.about .section-title h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 50px;
    text-transform: capitalize;
    color: var(--primaryColor);
    padding-bottom: 30px;
}


.about .container {
    padding: 80px 0;
    width: 100%;
    background: rgb(246, 246, 246);
    overflow: hidden;
    text-align: center;
    padding-left: 20px;
    
}

.container .row {
    color: var(--darkColor);
    width: 90%;
    margin: 0 auto;
}


.about--sub-section {
    padding-top: 30px;
}

.icon .fa {
    font-size: 100px;
    color: var(--primaryColor);
}

.about--sub-section h3 {
    font-size: 1.8rem;
    padding: 20px 0;
}


.about--sub-section p {
    padding-bottom: 40px;
    font-size: 0.9rem;
}


/*====================
    CONTACT
    ==================
*/

.contact {
    position: relative;
    background: rgb(248, 253, 255);
    padding: 80px 0;
}

.contact .container {
    padding: 0 !important;
}

.booking--form h3,
.contact-details h3,
.booking--form form {
    margin: 0 auto;
    padding: 0
}

.contact h3 {
    font-size: 3rem;
    padding-bottom: 40px;
    color: var(--primaryColor);
}

.booking--form .form {
    color: var(--darkColor)
}

.booking--form .form input:not([type=radio]):not([type=checkbox]) {
    width: 100%;
}

.booking--form .extra-info select {
    cursor: pointer;
}

.booking--form .form input {
    padding: 10px;
    background: #F0F2F5;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 1rem;
}

.extra-info {
    margin-top:  10px;
}
.extra-info .row {
    padding: 0 !important;
    margin:  0 !important;
   
}

.check--date .row,
.comfort-options .row {
    width: 100% !important;
}

.cols {
    padding: 0 !important;
}

.booking--form .comfort-options {
    margin-bottom: 10px;
}

.comfort-options p,
.extra-info p {
    display: inline;
    margin-right: 5px;
}

.booking--form input[type=radio] {
    display: inline
}

.booking-footer {
    text-align: center;
}

.booking--form button {
    display: inline-block;
    background: var(--primaryColor);
    color: #fff;
    line-height: 1;
    padding: 10px 15px;
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 40px 0 20px;
    cursor: pointer;
    transition: var(--transition);
}

select {
    margin-bottom: 5px;
}

.booking--form button:hover {
   box-shadow: 0 0 5px 0 var(--primaryColor);
}

.contact-info {
    display: flex;
    margin-bottom: 30px;
    margin-left: 25%;
}

.contact-info p {
    margin-left: 30px;
    align-self: center;
    color: var(--primaryColor);
}


.icon-bg {
    color: var(--primaryColor);
}

/*====================
    FOOTER
    ==================
*/
footer {
	background: rgba(26, 35, 126, 1);
	color: #ffffff;
	padding: 30px 15px 10px;
}

footer .fnav{ vertical-align: middle;}

ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}

footer .hover {
    color: var(--complimentaryColor) !important;
}
footer .hover:hover {
    border-bottom: 2px solid var(--secondaryColor) !important;
}


footer i.fa {
	height: 35px;
	width: 35px;
	border: 2px solid var(--secondaryColor);
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: var(--secondaryColor);
    transition: var(--transition);
    text-align: center;
}

footer i.fa:hover {
	background: var(--secondaryColor);
	border-color: var(--secondaryColor);
	color: var(--primaryColor);
}

/* date picker */

.tmDatepicker {
    margin:0;
    padding: 0;
    position: relative;
}


.tmDatepicker:after {
    content: '\f073';
    position: absolute;
    top: 10px;
    right: 5px;
    font: normal normal 20px/20px 'FontAwesome';
    color: #98a6b3;
    z-index: 4;
    cursor: text;
}

.ui-datepicker-header {
    color: var(--primaryColor) !important;
    background: transparent !important;
    border: none !important;
    font-size: 14px !important; 
}

.ui-datepicker-calendar {
    background: var(--secondaryColor);
}

.ui-datepicker thead {
    background-color: #f7f7f7;
    border-bottom: 1px solid #bbb;
  }

  .ui-datepicker th {
    text-transform: uppercase;
    font-size: 6pt;
    padding: 5px 0;
    color: var(--darkColor)
  }

  .ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

 .ui-datepicker td a {
    color: var(--darkColor) !important;
    background: transparent !important;
    font-size: 14px; !important
  }
  

/*===============
    Samsung, Nexus,
    Major phone screens
==============*/

@media only screen and (min-width : 320px) and (max-width : 768px) {
   
    #menu-bar.navbar-default {
        background:  rgba(26, 35, 126, 1) !important
    }

    #menu-bar.navbar-default .navbar-nav > li > a {
        padding: 10px 0 !important;
        font-size: 13px;
    }

    #menu-bar.navbar-default .navbar-nav > li > a:hover {
        border-bottom: none !important;
    }

    #menu-bar.on {
        background-color: var(--primaryColor) !important;
    }

    #menu-bar.on .nav > li > a:hover,
    #menu-bar.on .nav > li > a:active {
        color: #fff !important;
    }

    .homepage .content {
        padding-top: 50%;
    }

    .homepage .content h1 {
        font-size: 50px;
    }

    .homepage .content p {
        font-size: 16px;
        margin-left: 0;
    }

    .content button {
        font-size:  14px;
    }

    .arrow-down .fa-angle-down {
        font-size: 20px !important;
        margin-top: 100px !important;
    }

    section .container {
        padding-left: 0 !important;
    }

    .section-title h1 {
        font-size: 26px !important;
        text-transform: uppercase !important;
    }

    .about--sub-section {
        padding: 0;
    }
    
    .tmRadio h4 {
        margin-bottom: 5px;
    }

    .contact h3 {
        font-size: 26px;
        text-transform: uppercase;
        text-align: center;
    }

    .contact .booking--form {
        padding-bottom: 40px;
    }

    .booking-btn {
        font-size: 16px !important;
    }

    .check--date input {
        font-size: 12px;
        width: 100%
    }

    optgroup {
        font-size: 0;
    }
    select,
    option {
        outline: none;
        font-size: 14px;
    }

    .contact-details {
        padding: 0;
        margin: 0  auto
    }

    .contact-info {
        margin-left: 8%;
        font-size: 14px;
    }

    .contact-info .fa {
        font-size: 28px;
    }

    footer {
        font-size: 11px;
    }


    footer i.fa {
        height: 30px;
        width: 30px;
        font-size: 16px;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-height : 560px) {
    .homepage .content {
        padding-top: 11%;
    }
    .arrow-down .fa-angle-down {
        margin-top: 50px !important;
    }
}


/*===============
    IPhone-s
==============*/

@media screen and (max-width: 320px) {
    .homepage .content button {
        font-size: 12px;
    }

}

/*===============
    IPad 
==============*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    #home,
    #home .overlay {
        height: 750px;
    }

    .homepage .content {
        padding-top: 15%;
    }

    .homepage .content h1 {
        font-size: 80px;
    }

    .homepage .content p {
        font-size: 22px;
    }

    .content button {
        font-size:  18px;
    }

    .arrow-down .fa-angle-down {
        font-size: 22px !important;
        margin-top: 100px;
    }
}

/*===============
    IPad Pro
==============*/

@media screen and (min-width: 1024px) and (max-width: 1224px) {
    
        #home,
        #home .overlay {
            height: 850px;
        }
    
        .homepage .content {
            padding-top: 15%;
        }
    
        .homepage .content h1 {
            font-size: 80px;
        }
    
        .homepage .content p {
            font-size: 22px;
        }
    
        .content button {
            font-size:  18px;
        }
    }
